<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<!--    <link rel='stylesheet' href='/stylesheets/tailwind.min.css' />-->
    <script src="/javascripts/htmx.org@1.3.3.js"></script>
  </head>
  <body hx-boost="true">
    <nav>
      <a href="/">Home</a>
      <a href="/message/">Messages</a>
      <a href="/about">About this project</a>
    </nav>
    <h1><%= title %></h1>
    <p>In this simple example, we create messages and store them in memory by submiting something to the form below!</p>
    <section>
      <form hx-post="/message/new" hx-target="#all-messages-container" hx-swap="afterbegin">
        <textarea name="content" placeholder="Put your message out in to the world here"></textarea>
        <button>
          Send
        </button>
      </form>
    </section>
    <h2>Messages</h2>
    <section hx-get="/message/" hx-trigger="load after:100ms">
      loading messages..
    </section>
  </body>
</html>
